$backGroundGradient1 : radial-gradient(ellipse at center,
rgba(255, 255, 255, 0.2) 0%,
 rgba(255, 255, 255, 0) 100%),
  radial-gradient(ellipse at 80% 5%,
   #ffffff 0%, rgb(255 40 184 / 0%) 30%),
    radial-gradient(ellipse at bottom left,
     #d8c7ce 0%, rgb(98 190 255 / 31%) 60%),
      linear-gradient(135deg, rgba(18, 46, 119, 0) 0%,
       rgba(18, 46, 119, 0) 75%, #f2ffa8 100%),
        linear-gradient(82deg, #dff7ff 0%, #f3ff99 27%, #88b8ff 94%, #82b3ff 110%);

$backGroundBlendMode2: screen, hue, color, overlay;

.caecc22-main-wrap{
    width: 100%;
    max-width: 300px;
    
    
    height: 100%;
    max-height: 550px;
    min-height: 550px;   
    justify-self: center;
    align-self: center;
}

.caecc22-extend-wrap{
    width: 100%;
    
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
    max-height: 790px;
    background: $backGroundGradient1;
}

.caecc22-edit-wrap{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.caecc22-claim-report-display-wrap{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 15px;
    height: 100%;
}
.caecc22-claim-options-wrap{
    min-width: 34px;
    height: 100%;
    
}

.caecc22-claim-option-each-wrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    cursor: pointer;
}



.caecc22-claim-fieldset-wrap{
    width: 95%;
    display: flex;
    border: none;
    border-top: 5px solid wheat ;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
}

.caecc22-claim-legend-wrap{
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-weight: 450;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.caecc22-claim-propertyName-wrap{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;


}

.caecc22-claim-PropertyName-text{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.caecc22-claim-ownership-wrap{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.caecc22-claim-ownership-text{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.caecc22-claim-description-wrap{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

}

.caecc22-claim-ownership-text{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.caecc22-claim-description-text{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.caecc22-preventOverflow{
    overflow-y: auto;
    text-overflow: ellipsis;
    white-space: wrap;
    max-height: 96px;
    max-width: 230px;
    width: 100%;
}

.caecc22-helper-text-wrap{
    width: 90%;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 350;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.caecc22-edit-option-button{
    width: 130px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border-radius: 30px;
    border: none;
    background-color: wheat;
    cursor: pointer;
    box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
}

.caecc22-claim-display-back-wrap{
    display: flex;
    position: absolute;
    backface-visibility: hidden;
         height: 100%;
         width: 100%;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
         transform: rotateY(180deg);
         padding-right: 10px;
}


.caecc22-flip-div{
    transform: rotateY(180deg);

}

.caecc22-claim-back-after-flip{
   
    transform: rotateY(180deg);
}

.caecc22-claim-front-after-flip{
    
}

.caecc22-claim-display-front-wrap{
    display: flex;
    width: 100%;
    
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    padding-right: 10px;
}



.caecc22-claim-display-wrap{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
    box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
    
}