.aa-AdminWrap{
    width: 100%;
    height: 100%;
    display:flex;
    flex-flow: column;
    padding:7vh;
    padding-left: 4vh;
    position: relative;
    min-height: 99vh;
    max-width: 90vw;
    
}

.aa-AdminWrap-In1{
    width: 100%;
    height: 100%;
    display:flex;
    flex-flow: column;
   
}

.aa-TopWrap{
    display:flex;
    width:100%;
    height:100%;
    flex-flow:row;
    
}

.aa-topwrap-inner{
    display:flex;
    width:100%;
    height:100%;
    flex-flow:column;
}

.aa-header-title-wrap{
    display: flex;
    flex-flow:row ;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.aa-header-title{
    text-align: center;
    font-size: 30px;

}

.aa-header-content-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

.aa-header-statslist-wrap{
background-color: rgba(255, 255, 255, 65%);
 /* Chrome and Opera */
box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%) ,
inset 0px -0px 0px 1px rgb(255, 255, 255)
;
padding-top: 15px;
border-radius: 23px;
}
.aa-header-statslist-discr{
text-align: center;
font-size: 20px;
font-weight: 450;
padding-left: 20px;
}

.aa-header-statslist-X{
    display:flex;
    flex-flow:column;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    width: 420px;
    height: 200px;
    padding:20px;
}

.aa-header-onlinestats-wrap{
    width: 190px;
    height: 230px;
    background-color: rgba(255, 255, 255, 65%);
backdrop-filter: blur(8px); /* Chrome and Opera */
box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%) ,
inset 0px -0px 0px 1px rgb(255, 255, 255);
border-radius: 20px;
}

.BottomWrap{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 15vh;
    height: 100%;
    
}
._01-04-01-W{
width: 100%;
height: 100%;
max-width: 200px;
max-height: 300px;
overflow: hidden;
box-shadow: inset 0px -0px 5px 1px rgb(127, 124, 124),
1px 11px 21px 1px rgb(196, 192, 192)
;
border-radius: 13px;
}

._01-04-02-W{
    width: 100%;
height: 100%;
max-width: 200px;
max-height: 300px;
overflow: hidden;
box-shadow: inset 0px -0px 5px 1px rgb(127, 124, 124),
1px 11px 21px 1px rgb(196, 192, 192)
;
border-radius: 13px;
backdrop-filter: blur(8px);
}

._01-04-03-W{
    width: 100%;
height: 100%;
max-width: 200px;
max-height: 300px;
overflow: hidden;
box-shadow: inset 0px -0px 5px 1px rgb(127, 124, 124),
1px 11px 21px 1px rgb(196, 192, 192)
;
border-radius: 13px;
}