.admin-Reports-wrap{
    display: flex;
//    box-shadow: -3px 3px 10px rgb(117, 114, 114)
//    ,-3px 3px 10px rgb(117, 114, 114)
//    ;
transition: 
all 4s ease-in-out 1s

;
align-self: center;
flex-flow: row;
justify-content: space-around;
align-items: center;

}

.AA-After{
    width: 92%;
    height: 100%;
    position: absolute;
    top: 9.7vh;
   
    z-index: 1;
    transition: 
    all 4s ease-in-out 1s
    
    ;
}

.AA_Before{
width: 100%;
height: 100%;
left:0;
}

.c01-ARC-inner-wrap{
    width: 97%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    
}

.c01-ARC-header-wrap{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    position: relative;
}

.c01-ARC-Hcontent-wrap{
width: 100%;
flex-flow:column wrap;


}

.c01-ARC-Hstat-wrap{
    width: 100%;
    flex-flow:row wrap;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
}
.c01-ARC-Hstat-text-wrap{
    width: 34%;
    min-width: 300px;
    max-width: 500px;
    display: flex;
    flex-flow: column;
    max-height: 300px;
    min-height: 270px;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px;
    padding-right: 0px;
    background-color: rgba(255, 255, 255, 85%);
backdrop-filter: blur(8px); /* Chrome and Opera */
box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%) ,
inset 0px -0px 0px 1px rgb(255, 255, 255);
}

.c01-ARC-Hstat-charts-wrap{
    width:66%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.co1-ARC-Hstat-chart1-wrap{
    min-width: 300px;
    width: 50%;
    display: flex;
    max-height: 300px;
    min-height: 270px;
    background-color: white;
}

.co1-ARC-Hstat-chart2-wrap{
    min-width: 300px;
    width: 50%;
    display: flex;
    max-height: 300px;
    min-height: 270px;
    background-color: white;
}

.c01-ARC-Hc-wrap{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.c01-ARC-HClose-wrap{
    position: absolute;
    right:2px;
}

.co1-ARC-Hfilter-wrap{

}

.c01-ARC-Reports-wrap{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    padding:10px;
    margin-top: 40px;
}

