.ur11-main-wrap{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}

.ur11-inner-wrap{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2);
}

.ur11-top-wrap{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 2fr,1fr);
    padding: 10px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrvt6RB_fT45ABCmX1m9JfvwUDYK2wonNuhw&usqp=CAU");
    min-height: 500px;
}

.ur11-bottom-wrap{
    width: 100%;
    display: grid;
    position: relative;
}

.ur11-bottom-header-wrap{
    width: 100%;
    position: sticky;
    top:0px;
    min-height: 8rem;
    background-color: white;
    z-index: 1;
    box-shadow: 2px 2px 5px 3px rgb(144, 141, 141);
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.ur11-bottom-body-wrap{
    width: 100%;
    display: grid;
    padding: 10px;
} 

.ur11-bottom-body-inner-wrap{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    overflow-y: auto;
}

.ur11-claim-popup-main-wrap{
    display: flex;
    position: fixed;
    background-color: white;
    top: calc(20%);
    z-index: 2;
}

@media screen and (max-width: 768px){
    .ur11-bottom-body-inner-wrap{
        grid-template-columns: repeat(1, 1fr);
    }
}

