.SNavBarWrap{
background-color: black;
width: 10%;
height: 80%;
min-width: 90px;    
border-radius: 20px;
position: fixed;
margin-right: 10px;
margin-left: 15px;
box-shadow: -2px -1px 4px rgb(104, 98, 98) ,-3px 2px 6px rgb(117, 113, 113),
2px -2px 15px 6px rgb(104,98,98) 
;
}


.csn30-add-report-wrap{
    color:white;
    cursor: pointer;
}